*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  /* font-family: 'Fira Sans Condensed', sans-serif; */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  align-items: end;
  width: 1140px;
  grid-template: auto / 3fr min-content;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 711px;
  padding-bottom: 3px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 399px;
  height: 534px;
}

.result__video-container {
  position: relative;
  display: flex;
  max-width: 711px;
  max-height: 386px;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 21px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  border: 1px solid #fff;
  width: 225px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 21px;
  height: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  margin: 1.5px 5px 1.5px 0;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 19px;
  height: 19px;
  background-color: transparent;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 30px;
  min-height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__accent {
  color: #545050;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 390px;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 195px;
  flex-grow: 1;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
  overflow: hidden;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  appearance: none;
  outline: 1px solid #fff;
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__list-item .content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__list-item .content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link:focus {
  display: block;
  outline: none;
}

.content__list-item:has(:focus-visible) {
  appearance: none;
  outline: 1px solid #fff;
  outline-offset: 1px;
}
